# Основные фреймворки
flask==2.3.3
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu

# Работа с изображениями
Pillow==10.0.1
numpy==1.24.3

# Распознавание лиц
facenet-pytorch==2.5.2

# Дополнительные зависимости
requests==2.31.0